name: Build
on:
  pull_request:
  push:
    branches: [master]

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  RUSTC_WRAPPER: "sccache"
  RUSTFLAGS: -D warnings
  SCCACHE_GHA_ENABLED: "true"

jobs:

  nightly-clippy:
    name: Nightly clippy (wasm32)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          target: wasm32-unknown-unknown
          components: clippy, rustfmt
          override: true
      - name: Install sccache
        uses: mozilla-actions/sccache-action@v0.0.6

      # Formatting check
      - name: Check formatting
        run: cargo fmt -- --check

      # Clippy checks
      - name: Vertigo-forms Clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: -p vertigo-forms --all-features --target wasm32-unknown-unknown -- -Dwarnings
          name: Vertigo-forms Clippy Output
      - name: Examples Clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: -p vertigo-forms-storybook -p vertigo-forms-example-manual-form -p vertigo-forms-example-model-form --all-features --target wasm32-unknown-unknown -- -Dwarnings
          name: Storybook/Examples Clippy Output

      # Unit tests
      - name: Unit tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features
